
.navbar{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.navbar.toggler{
    border: none; !important
}
.navbar-toggler i{
    color:black !important;
}
.navbar-brand{
    justify-content: center!important;
}
.nav-link{
    color: black !important;
    margin-right: 15px !important;
    text-align: center;
}
.nav-link:hover{
    color: rgb(89, 89, 89) !important;
}
  .form-control {
    font-size: 2rem;
  }
  .carousel-caption {
    color: white;
    background-color: #00022e;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding-top: 5rem;
  }
  
  .movie-card{
    padding: 2rem;
    margin-left: auto ;
    margin-right: auto;
    background-color: #898888;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
  }
  
  .descripcion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
    width: 100%;
  }
  .titulo-card {
    font-size: 2.5rem;
    align-items: center;
    padding-bottom: .5rem;
    font-weight: 400;
  }
  
  .btn-12{
    border: none;
    font-size: 1.8rem;
    padding: 1rem;
    color: #7f7f7f;
    justify-content: end;
    border-radius: 1rem;
    background: #404271;
    box-shadow:  8px 8px 16px #333459,
                -8px -8px 16px #4d5089;
  }
  .btnFav{
    position: absolute;
    top: -17rem;
    right: 0;
    background-color: #000;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border:none;
  }
  .btnFavActivado{
    background:#a2cf00 ;
    position: absolute;
    top: -17rem;
    right: 0;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border:none;
  }
  .descripcion-pelicula{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    background: #00022e;
    box-shadow:  13px 13px 26px #000224,
                -13px -13px 26px #000238;
  }
  .descripcion-img{
    width: 80%;
  }
  .descripcionTitulo{
    color: #7f7f7f;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 3rem;
  }
  .descripcionParrafo{
    font-size: 1.8rem;
    color:#7f7f7f;
  }
  .btnVolver{
    color: #7f7f7f;
    font-size: 2rem;
    text-decoration: none;
    background-color: #404271;
    text-transform: uppercase;
    border-radius:.6rem ;
    padding: 1rem;
    font-weight: 600;
  }
  .btnVolver:hover{
    color: #5e608e;
    background-color: #0d1168;
    transition: 1s;
  }
  .titulo-pag{
    font-size: 4rem;
    margin-top: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Dela Gothic One', cursive;
    color: #7f7f7f;
  }
  .btnBorrar{
    border: none;
    padding: 1rem;
    color:#7f7f7f;
    font-size: 1.8rem;
    border-radius: 1rem;
    background: #404271;
    box-shadow:  8px 8px 16px #333459,
                -8px -8px 16px #4d5089;
  }
  .tituloCategoria{
    color: #7f7f7f;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;